<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="#" target="_blank"> @ </a>. All rights reserved. </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i><a href="#" title="" target="_blank"> </a></span>
    </div>
</footer>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->

<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/layui/js/jquery-3.3.1.min.js"></script>
<script src="__STATIC__/common/js/global.js"></script>
<script src="__STATIC__/admin/js/logout.js"></script>
<script src="__STATIC__/admin/js/global.js"></script>

<script src="__STATIC__/admin/js/{$controller}.js"></script>

<script src="__STATIC__/admin/Index/vendors/js/vendor.bundle.base.js"></script>
<script src="__STATIC__/admin/Index/vendors/js/vendor.bundle.addons.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="__STATIC__/admin/Index/js/off-canvas.js"></script>
<script src="__STATIC__/admin/Index/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="__STATIC__/admin/Index/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>
</html>
