<table class="wenzhang mat20 mab20" width="100%" cellspacing="0" cellpadding="0"
	   border="0">
	<tbody>
	<tr>
		<td width="150" align="right">短信key：</td>
		<td><input type="text" name="sms_key" value="" class="inputall input300"></td>
	</tr>
	<tr>
		<td align="right">短信签名：</td>
		<td><input type="text" name="sms_sign" value="" class="inputall input300"> <span
				class="c999">（例：西湘记）</span></td>
	</tr>
	<tr>
		<td align="right">短信余额：</td>
		<td>
			<span class="fl mar20 strong corg" id="point">0 条</span>
			<a href="http://www.phpshe.com" target="_blank" class="fl cblue">[充值]</a>
			<div class="clear"></div>
		</td>
	</tr>
	<tr>
		<td align="right">管理员手机号：</td>
		<td>
			<input type="text" name="sms_admin" value="" class="inputall input300">
			<a href="javascript:;" class="admin_btn mal10" id="sms_test">发送测试短信</a>
			<span class="c888">（用于接收订单通知，多个用“,”隔开）</span>
		</td>
	</tr>
	</tbody>
</table>