<!--包含头部文件-->
{include file="public/s_nav" /}

<div id="mainer">
    <div class="about_text">
        <p><strong class="f20">用户注册使用协议 </strong></p>
        <p>本协议由您与西湘记共同缔结，本协议具有合同效力。</p>
        <p>
            本协议内容包括协议正文及所有西湘记已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何西湘记及其关联公司提供的服务（以下称为西湘记服务）均受本协议约束。</p>
        <p>
            您应当在使用西湘记服务之前认真阅读全部协议内容，对于协议中以加粗字体显示的内容，您应重点阅读。如您对协议有任何疑问的，应向西湘记咨询。但无论您事实上是否在使用西湘记服务之前认真阅读了本协议内容，只要您使用西湘记服务，则本协议即对您产生约届时您不应以未阅读本协议的内容或者未获得西湘记对您问询的解答等理由，议无效，或要求撤销本协议。</p>
        <p>您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用西湘记服务。</p>
        <p>
            <span style="font-size: 14px; color: #EE1289">你应该做的：</span>
        </p>
        <p>
            在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他西湘记允许的方式实际使用西湘记服务时，您即成为西湘记会员（亦称会员）在注册时，您应当按照法律法规要求，或注册页面的提示准确提供，并及时更新您的资料，以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，西湘记有权向您发出询问及或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部西湘记服务。西湘记对此不承担任何责任，您将承担因此产生的任何直接或间接支出。您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便西湘记或其他会员与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用西湘记服务过程中产生任何损失或增加费用的，应由您完全独自承担。
        </p>
        <p>
            <span style="font-size: 14px; color: #EE1289">你不应该做的：</span>
        </p>
        <p>
            1. 违反任何知识产权法：严禁发布任何侵犯他人版权的相关内容；
        </p>
        <p>
            2. 严禁透露任何包含他人隐私信息：包含真实姓名、联系方式、家庭住址、照片、站内短信、聊天记录、社交网络账号等；
        </p>
        <p>
            3. 严禁诽谤任何他人或包含过分粗俗语言：严禁侮辱、恐吓和种族歧视，包括肤色、民族、国籍、年龄、身体、精神或智力障碍，严禁性别歧视，严禁宗教或非宗教的观点；
        </p>
        <p>
            4. 严禁包含商业广告：西湘记严禁发布任何企业、网站、商业广告或招募、招聘、征稿等信息。我们不介意您在个人资料中贴上您的相关信息，但任何商业诱导、广告、站点引导，是不能被接受的。通过站内短信的任何广告如被举报，我们会立即删除您的账号；
        </p>
    </div>
</div>

<!--包含头部文件-->
{include file="public/footer" /}