<!--包含头部文件-->
{include file="public/s_nav" /}

<div id="mainer">
    <div class="about_text">
        <p class="cr_info_title">新手指南</p>
        <p><span style="font-size: 16px;"><strong>一、西湘记是什么？</strong></span></p>
        <p>
            西湘记是一家以销售汉服为主的平台。</p>
        <p><span style="font-size: 16px;"><strong>二、如何种草商品？</strong></span></p>
        <p>
            种草商品：在商品详情介绍的页面有种草的按钮，轻戳一下就种草啦。然后进入我的→商城订单→我的种草，就可以看到自己种草的商品了哦~
        </p>
        <p><span style="font-size: 16px;"><strong>三、如何正确剁手？</strong></span></p>
        <p>
            在商品详情页有两个硕大的按钮，一个是“立即购买”，一个是“加入购物车”，两个的区别就是：前者是快速剁手通道，后者是享用剁手套餐。
        </p>
        <p>
            再接着就是和某宝一样，填写收货信息、留言，然后……付款。
        </p>
        <p><span style="font-size: 16px;"><strong>四、如何退款，退款有什么要求？</strong></span></p>
        <p>
            1、七天无理由退货：
        </p>
        <p>
            当商品有“七天无理由”标识时，可以享受七天无理由退货。

            自商品签收之日起 7 天内：
        </p>
        <p>
            1)、商品外包装完整，相关附（配）件齐全；（若有）要求吊牌完整；

            2)、商品无显著穿着、无洗涤、无沾染化妆品（如口红等）、无破损等痕迹；
        </p>
        <p>
            2、售后保障服务：
        </p>
        <p>
            在收到货物并且没有确认收货的前提下，如有商品质量问题、描述不符或未收到货等，您有权申请退款或退货，来回邮费由我们承担。
        </p>
    </div>
</div>

<!--包含头部文件-->
{include file="public/footer" /}