<!--包含头部文件-->
{include file="public/header" /}
<div class="layui-container" style="padding-top: 10px;">
    <div class="layui-col-md2 layui-center-left" style="float: left;">
        <p style="font-size: 17px;line-height: 30px;padding: 5px 0 0 21px;">上新&当季</p>
        <ul class="layui-left-hot" style="padding:5px 20px;">
            <!-- 后台预留接口 后台动态添加-->
            <!--<li><a><span class="layui-badge-dot layui-bg-black" style="margin-bottom:2px;"> </span>-->
            <!--&lt;!&ndash; <a>xx上新&当季 </a>&ndash;&gt;-->
            <!--XX上新&当季</a>-->
            <!--</li>-->
            <li><span><i class="layui-icon layui-icon-right"></i></span>
                <a href="">第一条促销信息</a>
            </li>
            <li><span><i class="layui-icon layui-icon-right"></i></span>
                <a href="">第一条促销信息</a>
            </li>
            <li><span><i class="layui-icon layui-icon-right"></i></span>
                <a href="">第一条促销信息</a>
            </li>
            <li><span><i class="layui-icon layui-icon-right"></i></span>
                <a href="">第一条促销信息</a>
            </li>
        </ul>
        <ul class="layui-directory" style="padding: 15px 0 20px 21px;">
            <!-- 后台预留接口 后台动态添加-->
            <li class="layui-this">
                <a>女款套装</a>
            </li>
            <li class="layui-this"><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 交领襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 对襟襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 齐胸襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 袒领襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 褙子套装</a></li>
        </ul>
        <ul class="layui-directory" style="padding: 15px 0 20px 21px;">
            <!-- 后台预留接口 后台动态添加-->
            <li class="layui-this">
                <a>男款套装</a>
            </li>
            <li class="layui-this"><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 交领襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 对襟襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 齐胸襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 袒领襦裙</a></li>
            <li><a class="layui-tab-list-onclick" href=""><span><i class="layui-icon layui-icon-circle"></i></span> 褙子套装</a></li>
        </ul>
    </div>
    <div class="layui-col-md10 layui-center-right" style="float: right;">
        <div class="layui-row" style="margin:0 auto;width:960px;">
            <div class="layui-row" style="width:935px;">
                <!-- 活动展示图 对应一个商品链接-->
                <a class="layui-anim layui-anim-up" href=""><img src="img/1bdf53fd2470421a86609b8ca482f92d.png" style="width:100%;"></a>
            </div>
            <div class="layui-row layui-list-row" style="padding-top:15px;">
                <ul>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href=""><img style="width: 100%;" src="img/e824e656c4584b5e82618ef59752fe08.jpg"></a>
                        <div style="padding: 5px;text-align: center;">
                            <span>
                                <a href="#" style="display:block;padding: 3px;">幻乐天 花朝记</a>
                                ￥<a style= "font-size: 14px;padding: 2px;">199</a>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<!--包含footer文件-->
{include file="public/footer" /}