<!--包含头部文件-->
{include file="user/public/header" /}
			<h1>密码重置</h1>
			<div>
				<input type="text" placeholder="员工id" id="usernameid" lay-verify="username"/>
			</div>
			<div>
				<input type="password" placeholder="原密码" id="password" lay-verify="pass"/>
			</div>
			<div>
				<input type="password" placeholder="再次输入原密码"  id="repassword" lay-verify="pass"/>
			</div>
			<div>
				<input type="password" placeholder="新密码"  id="newpassword" lay-verify="pass"/>
			</div>
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="申请修改" class="btn btn-primary lay-submit"  lay-submit lay-filter="adminrepass" id="js-btn-login"/>
				<a href="{:url('user/login')}">登录</a>
				<!-- <a href="#">Register</a> -->
			</div>
<!--包含footer文件-->
{include file="user/public/footer" /}
