<!--包含头部文件-->
{include file="public/header_dialog" /}

<form method="post" id="form" autocomplete="off">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang_bak">
<tr>
	<td class="bgtt aright c888" width="100">订单编号：</td>
	<td>{$order['order_id']} </td>
</tr>
<tr>
	<td class="bgtt aright c888">收 货 人：</td>
	<td>{$order['user_tname']}</td>
</tr>
<tr>
	<td class="bgtt aright c888">手机号码：</td>
	<td>{$order['user_phone']}</td>
</tr>
<tr>
	<td class="bgtt aright c888">收货地址：</td>
	<td>{$order['user_address']}</td>
</tr>
<tr>
	<td class="bgtt aright c888">快递公司：</td>
	<td>
		<select name="order_wl_name" class="inputselect">
		<option value="">无需快递</option>
		{foreach name="wlname" item="vo"}
		<option value="{$vo}">{$vo}</option>
		{/foreach}
		</select>
	</td>
</tr>
<tr>
	<td class="bgtt aright c888">快递单号：</td>
	<td><input type="text" name="order_wl_id" class="inputall input300" /></td>
</tr>
</table>
<div class="acenter mat30">
	<input type="hidden" name="uid" value="{$order['order_id']}" />
	<input type="button" value="确认发货" class="tjbtn" />
</div>
</form>
<script type="text/javascript">
$(function(){
$(".tjbtn").click(function(){
	if ($(":input[name='order_wl_name']").val() == '' || $(":input[name='order_wl_id']").val() == '') {
		pe_tip('快递单号必须填写');
		return false;
	}
	$("form").submit();
    var index = parent.layer.getFrameIndex(window.name);
    parent.layer.close(index);//关闭当前页
    parent.location.reload();
})
})
</script>
<!--包含footer文件-->
{include file="public/footer_dialog" /}
